{% extends "base.html" %}

{% block title %}DogAPI{% endblock %}

{% block content %}
<h1>DogAPI</h1>
<form method="post" action="{% url 'dogs_search' %}">
    {% csrf_token %}
    <select id="id_breeds" name="breed_id">
        {% for v in breeds %}
            <option value="{{ v.id }}">{{ v.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Rechercher</button>
</form>

{% if dogs_list %}
<h2>Liste des chiens</h2>
    {% for v in dogs_list %}
        <img src="{{ v.url }}" />
        <a href="{% url 'add_dog' %}?url={{ v.url }}">Enregistrer</a>
        <br>
    {% endfor %}
{% endif %}
{% endblock %}